.DS_Store
Tacotron-Korean-Tensorflow2/**
multi-speaker-tacotron-tensorflow/**

.data/**
.data/**
.taeyong/**
.util/**

.datasets/*
.output/*
.kss/*
.output/*



.taeyong-wav/*
.kss/*

data/

taeyong/

google-admin-auth.json
